body {
  font: 12px sans-serif;
  background-color: lightgrey;
}

h1 {
  display: block;
  margin: 50px auto;
  text-align: center;
  background: none;
  /* z-index: -1; */
}
 
path {
  stroke-width: 1px;
  stroke: darkgrey;
  fill: #999;
  cursor: pointer;
}

path.q0-4 {
  fill: #f0f9e8;
}

path.q1-4 {
  fill: #bae4bc;
}

path.q2-4 {
  fill: #7bccc4;
}

path.q3-4 {
  fill: #2b8cbe;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}

svg {
  display: block;
  z-index: -1;
}