body {
  font: 12px sans-serif;
  background-color: lightgrey;
  align-content: center;
  text-align: center;
  background-image: url("bg.jpeg");
}

h1 {
  display: block;
  margin: 40px auto 40px auto;
  text-align: center;
  background: none;
  font-size: 38px;
}
 
path {
  stroke-width: 1px;
  /* stroke: darkgrey; */
  fill: #999;
  cursor: pointer;
}

path.q0-4 {
  fill: #f0f9e8;
}

path.q1-4 {
  fill: #bae4bc;
}

path.q2-4 {
  fill: #7bccc4;
}

path.q3-4 {
  fill: #2b8cbe;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  /* font-weight: bold; */
  padding: 12px 16px;
  display: none;
  border-radius: 10px;
}

svg {
  /* display: inline-block; */
  width: 1080px;
  height: 800px;
  z-index: -1;
  padding: 10px;
  /* border: solid 2px darkblue; */
  overflow: scroll;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  /* opacity: 0.95; */
}